bin
.idea
.gradle
build
toolkit.*
gradle
frameworks/cocos2d-x
frameworks/runtime-src/proj.win32/.vs
frameworks/runtime-src/proj.win32/Debug.win32
frameworks/runtime-src/proj.win32/game.sdf
frameworks/runtime-src/proj.win32/game.opensdf
frameworks/runtime-src/proj.linux
simulator/win32/game.pdb
simulator/win32/game.log
simulator/win32/game.ilk
src/quick
src/app
src/packages
cocostudio-ui/cocosgame/frameworks
cocostudio-ui/cocosgame/res
cocostudio-ui/cocosgame/src
